.register-form {
    display: flex;
    justify-content: center;
    padding: 70px 100px;
    gap: 30px;
    font-family: "Poppins", sans-serif;
}

.register-form input {
    outline: none;
    width: 100%;
    height: 50px;
    padding-left: 15px;
}

.register-form p {
    margin: 20px 0;
}

.register-form>section {
    width: 50%;
}

.register-form>div {
    width: 50%;
    border-left: 1px solid #D9D9D9;
    padding-left: 40px;
}

@media(max-width:780px) {
    .register-form {
        flex-direction: column;
        padding: 50px 30px;
    }

    .register-form>div,
    .register-form>section {
        width: 100%;
    }

    .register-form>div {
        margin-top: 30px;
    }

    .login-form .forget-pass {
        width: 100%;
        gap: 20px;
    }

    .forget-pass {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
        padding: 15px 0;
    }

    .login-form .forget-pass p {
        margin: 0;
    }

    .register-form>section .btn {
        margin-top: 20px;
    }
}